.header {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.header h1{
	color:#FF570A;
	display: flex;
	justify-content: center;
}

.header h4{
	color:#420039;
	display: flex;
	justify-content: center;
}

.gameButtons{
	display: flex;
	justify-content: center;
	align-self: center;
}

.gameButtons button{
	background-color: #420039;
  	border: 1px solid green;
  	color: white;
  	padding: 10px 24px;
  	cursor: pointer;
  	float: none;
}

.gameButtons button:not(:last-child) {
  	border-right: none;
}

.gameButtons:after {
  	content: "";
  	clear: both;
  	display: table;
}

.gameButtons button:hover {
  background-color: #3e8e41;
}

.scoreArea{
	font-family: 'Baloo 2', cursive;
	text-align: center;
}

.canvas-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.gameCanvas{
	background: #12355B; /* Same color to be used in case of use of rect on canvas*/
	width: 50%;
	border: 5px solid lightgreen;
	border-radius: 10px;
}

body{
	background: #FFFCF9;
}